/**index.wxss**/
page{
  height: 100vh;
  background: rgb(255,208,0);
  overflow: hidden;
}
.topTitle{
  background: #FF0091;
  text-align: center;
  height: 150px;
}
.top{
  display: flex;
  justify-content: center;
}
.mine{
  position: absolute;
  right: 30px;
  top: 30px;
}

.oplist{
  display: flex;
  justify-content: space-between;
  background: rgb(255,208,0);
  padding-top: 40px;
}
.op-iphoenx{
  height:456px;
}

.oplist-item{
  text-align: center;
  flex: 1;
  position: relative;
  padding:0px 60px;
}
.op-border{
  border-right:1px solid white;
}

.oplist-item .img{
  display: flex;
  justify-content: center;
}
.oplist-item .name{
  font-size: 32px;
  color: white;
  text-align: center
}
.oplist-item .a{
  font-size: 26px;
  padding: 1px 5px;
  border:1px solid white;
  background: white;
  color: rgb(255,208,0);
  border-radius: 3px;
}

.sleep{
  position: absolute;
  top:25%;
  z-index: 9999;
  width: 100%;
  text-align: center;
}
.sleep image{
  height: 320px;
}

.timepick{
  text-align:center;
  color:#FF0091;
  background:white;
  display:flex;
  justify-content: space-around;
  border-bottom: 1px solid #e3e3e3;
  padding: 5px 0px;
}



.slide-image{
  width:100%;
}
.isInphone{
  height: 798px;
}
.isInphoneX{
  height: 842px;
}
.btn_op1{
  text-align: center;
  font-size:14px;
  /* box-shadow: 6px 6px 5px; */
  background-image: url('http://cdn.handsomebird.xin/by3.png'); 
  background-repeat: no-repeat; 
  background-size: 100% 100%; 
  color:white;
  /* padding: 5px 20px; */
   /* border:1px solid #E53085;  */
  border-radius:35px;  
  width: 300px;
  z-index: 10;
  height: 60px;
  line-height: 60px;
  display: inline-block;
}
.btn_op2{
  text-align: center;
  background-image: url('http://cdn.handsomebird.xin/by4.png');
  background-repeat: no-repeat; 
  background-size: 100% 100%; 
  font-size:14px;
  color:white;
  /* padding: 5px 20px; */
  /* box-shadow: 6px 6px 5px #B6D9A9; */
  /* border:1px solid #B6D9A9; */
  border-radius: 35px;
  width: 300px;
  height: 60px;
  line-height: 60px;
  display: inline-block;
}
.btn-bar{
  position: relative;
 box-shadow: 8px 8px 5px #e3e3e3; 
 border-radius: 12px;
  border:1px solid #e3e3e3; 
  /* display: flex; */
  height: 280px;
  width: 90%;
  margin: auto;
  margin-top:50px;
  
}
.btn-block{
  width: 100%;text-align: center;
   /* display: inline-block;  */
  height: 65px;
  position: relative;
}
.ad-box{
  margin-top:40px;
  width: 100%;
 text-align: center;
}
.image_ad{
  width: 90%;
  height:340px;
  border-radius: 5px;
}
.scroll-box{
  display:flex;
  white-space: nowrap;
  width:95%
}
.bottom-box{
  margin-top:40px;
  display: flex;
  justify-content:center;
}
.bottom-image{
  width:300px;
  height:170px
}
.slide-inline-box{
  display:inline-block;
  margin-right:10px;
}
.logo{
  position: absolute;
  top:-20px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  z-index: 100;
}
.hotPick{
  position: absolute;
  top:40px;
  left: 20%;
  z-index: 999;
  height:100px;
  opacity: 0;
}
.drawer_screen {  
  width: 100%;  
  height: 100%;  
  position: fixed;  
  top: 0;  
  left: 0;  
  z-index: 1000;  
  background: #000;  
  opacity: 0.5;  
  overflow: hidden;  
}  
.drawer_box_ad {
  height: 50%;  
  width: 86%;  
  overflow: hidden;  
  position: fixed;  
  top: 30%; 
  z-index: 1001; 
  border-radius: 8px;
  text-align: center;
  justify-content:center;  
   /* border: 2px solid rgba(9,9,9,1); */
   background-image: url('http://cdn.handsomebird.xin/ncsf/cut/v1/bg/reduction.png');
   background-size: cover;
   
} 
.drawer_title{  
  padding:15px;  
  font: 20px "microsoft yahei";  
  text-align: center;  
}  
.drawer_content {  
  height: 120px;
  width: 86%;
  display:flex;
  justify-content:center;  
} 
.drawer_content_ad {
  height: 200px;
  width: 100%;
  display:flex;
  justify-content:center; 
  /* background-color: #E53085; */
  color: white;
  /* border-bottom: 2px solid rgba(9,9,9,1); */
  margin-bottom: 20px;
} 
.btn {  
  margin: auto;
  width: 15%;  
  padding: 20px 0;     
  text-align: center;   
  color:white; 
  position: absolute;
  right:0px;
  top:20px;
  opacity: 0;
  /* border-left: 1px solid white; */
} 
.btn-ok{
  border:1px solid #f8f8f8;
  padding: 24px 2px;
  font-size: .7rem;
  border-radius: 5px;
  margin-left: 10px;
  writing-mode: vertical-lr;
} 
.drawer-note{
  color:white
}
.drawer-note .duration{
  font-size: .7rem
}
.reduction{
  top: 132px;
  display: flex;
  width: 95%;
  background-image: url('http://cdn.handsomebird.xin/ncsf/cut/v1/bg/re1.png');
  background-size: cover;
  position: relative;
}
.money{
  position: absolute;
  text-align: center;
  width: 15%;
  font-size: 46px;
  /* border-right: 1px dashed white; */
  padding:48px 10px;
  /* line-height: 140px; */
  margin: auto;
  color: #FF0091;
  left:42px;
}
.money span{
  font-size: 26px;
  color: #FF0091;
}
.content{
  position: absolute;
  padding: 10px;
  width:55%;
  color: #FF0091;
  left: 186px;
}
.content .desc{
  font-size: 40px;
  font-weight: bold;
  color: #FF0091;
}
.content .date{
  font-size: 24px;
  margin-top: 30px;
}
.content .note{
  font-size: 24px;
}
.logor{
  position: absolute;
  width: 300px;
  top: 15%;
  z-index: 1002;
  height:300px;
  left: 30%; 
}
.reduction-note{
  position: absolute;
  bottom: 2%;
  font-size: 20px;
  color:white;
  margin-left:8%;
}